#forms button{
    border-radius: 0;
    background-color: #fa6d06;
    color: #fff;
  }
  
  #forms input{
    border-radius: 0;
  }
  #forms select{
    border-radius: 0;
  }
  
  
  #forms{
    color:#fff;
    background-color: #232323;
  }
  #cadastro .bg-lighte{
    background: linear-gradient(180deg, rgb(231, 231, 231) 1%, rgba(255, 255, 255, 0) 60%);
  }

 #cadastro .logo{
     height: 10.5rem;
     margin:0 auto;
 }
 
 #cadastro .tempo{
  width: 100%;
  margin:  auto;
}
 .form-select{
  height: 58px;
 }